html {
    font-family: sans-serif;
}

body {
    background-color: #BCBCBC;
}

iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 600px;
    height: 100%;
    border: none;
}

textarea {
    overflow: auto;
}

button {
    margin: 5px;
    padding: 5px;
    min-height: 100%;
}

label input {
    width: 25%;    
    text-align: center;
    margin-left: 5px;
}


.container {
    margin:5px;
    padding:5px;
    display:flex;
    flex-direction: row;
    max-height: 440px;
}

.convert {
    font-size: small;
    font-stretch: condensed;
    min-height: 20%;
}

#scale-container, 
#binary-container, 
#convertBtn-container, 
#format-container,
#format-top {
    flex-direction: column;
    max-height: 600px;
}

#format-container, 
#input-container, 
#export-container,
#import-container {
    align-items: center;
    padding-top: 0;
}

#format-container {
    flex-flow: wrap;
    align-content: space-between;
    justify-content: center;
}

#input-container {
    padding-top: 0;
    margin-bottom: 0;
}

#format-top {
    padding-top: 0;
    place-items: inherit;
}

#scale-container {
    width: fit-content; 
    min-width: 50px;
}

#binary-container {
    padding: 3px;
}

#edoInput {
    width: 1cm;
    height: 80%;
    margin: 2px;
    font-size: medium;
    text-align: center;
}

#scale {
    width: 115%;
    min-width: 55px;
    max-width: 115%;
    min-height: 240px;
    height: 100%;
}

#binary {
    width: 100%;
    min-height: 220px;
    height: 80%;
}

#name,
#upload  {
    padding: 3px;
    height: 80%;
}


#format-container label {
    display: flow-root;
    font-size: smaller;
    text-align: center;
    margin-bottom: 5px;
}

